@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root {
    --dark-blue: #030D18;
    --blue1: #094983;
    --blue2: #056bc4;
    --dark-green: #0d6f5c;
    --light-text: #d4f7e8;

    --small-text: 1.4vw;
    --medium-text: 2.6vw;
    --large-text: 6vw;

    --preenchimento: 26px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--dark-blue);
}

* ::-webkit-scrollbar {
    width: 4px;
}

* ::-webkit-scrollbar-track {
    background: linear-gradient(#030D18, #0e3e6c);
}

* ::-webkit-scrollbar-thumb {
    background: #118ae6;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header Começo */
header {
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header nav {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

header ul {
    width: 25vw;
    height: 8vh;
    padding: 16px;
    position: relative;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e3e6c;
    
}

header ul li {
    list-style: none;
    
    
}

header ul li a {
    text-decoration: none;
    padding: 6px;
    color: var(--light-text);
    border-radius: 20px;
    font-size: 1.25vw;
    transition: 0.2s;
}

header ul li a:hover,
header ul li a.active {
    color: #72ecb7;
}

.menu {
    float: right;
    line-height: 50px;
    font-size: var(--medium-text);
    cursor: pointer;
    display: none;
}

/* Header Fim */

/* Section Começo */
section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

#section-comeco::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, var(--dark-blue), transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#frente_direita {
    z-index: 10;
}

section img#frente_esquerda {
    z-index: 10;
    margin-left: -3px;
}

#samauma {
    position: absolute;
    color: var(--light-text);
    ;
    white-space: nowrap;
    font-size: var(--large-text);
    z-index: 8;
    cursor: default;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--light-text);
    color: var(--dark-blue);
    font-size: var(--medium-text);
    z-index: 8;
    transform: translateY(100px);
    cursor: pointer;
}

/* Section End */

/* Container Start */
.container {
    border-radius: 6px;
    width: 400px;
    height: 400px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#titulo {
    width: 100%;
    height: auto;
    background: none;
    font-size: 3vw;
}

#descricao {
    width: 100%;
    height: 100%;
    padding: var(--preenchimento);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#imagens-jogo {
    width: 80%;
    background-size: cover;
    align-items: center;
    padding: var(--preenchimento);
    background: none;
}

.background-texto {
    background: -webkit-linear-gradient(135deg, #5eb4f5, #d4f7e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vw;
}

#texto {
    width: 100%;
    height: auto;
    padding: var(--preenchimento);
    font-size: var(--small-text);
    color: #fff;
    text-align: justify;
}

#dados {
    width: 100%;
    height: 100%;
    max-height: 550px;
    padding: var(--preenchimento);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

#dados::-webkit-scrollbar {
    width: 4px;
}

#dados::-webkit-scrollbar-track {
    background: #0e3e6c;
    border-radius: 12px;
}

#dados::-webkit-scrollbar-thumb {
    background: #118ae6;
    border-radius: 12px;
}


.topicos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.topico {
    text-align: center;
    font-size: var(--medium-text);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.card-info {
    width: 80%;
    height: auto;
    font-size: var(--small-text);
    border-radius: 20px;
    padding: var(--preenchimento);
    text-align: justify;
    color: #fff;
    transition: 0.3;
}

#imagens-container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#imagem-amazonia {
    width: 80%;
    height: 90%;
    border-radius: 20px;
    background-image: url(imagens/biodiversidade\(0\).jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--preenchimento);
}

.ponto-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: var(--medium-text);
    font-weight: 600;
}

.seta {
    cursor: pointer;
}

.subtitulo {
    display: none;
    width: 100%;
    height: auto;
    font-size: var(--medium-text);
    text-align: center;
    transition: 0.3;
}

.informacoes {
    display: none;
    height: auto;
    font-size: var(--small-text);
}

#equipe {
    width: 100%;
    height: 100%;
    background-image: url(imagens/onça_pintada.jpg);
    background-size: cover;
    display: grid;
    justify-content: center;
    font-size: var(--medium-text);
    color: #fff;
    z-index: 1;
}

.equipe-descricao {
    position: absolute;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: 1.5vw;
    padding: 60px;
}

.revelar-texto {
    width: 5%;
    height: 10%;
    position: absolute;
    text-align: center;
    z-index: 2;
    transform: translate(12px, 12px);
}

#olho {
    cursor: pointer;
}

#integrantes {
    width: 100%;
    height: 100%;
    padding: var(--preenchimento);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    contain: content;
    border: solid #030D18;
}

.animais-side {
    width: 8%;
    height: 100%;
    border-radius: 50px;
    display: grid;
    align-items: center;
    color: #030D18;
}

.perfil {
    width: 20%;
    height: 100%;
    min-width: 300px;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.foto {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.info {
    width: 35vw;
    height: 100%;
    border-radius: 16px;
    font-size: var(--medium-text);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nome-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    width: auto;
    height: 40px;
    padding: 12px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: var(--medium-text);
    font-weight: 600;
}

.funcoes {
    width: 100%;
    height: 80%;
    padding: var(--preenchimento);
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-text);
    text-align: left;
}



#danilo,
#guilherme,
#gustavo,
#marcela,
#murillo,
#thais {
    font-size: var(--small-text);
    cursor: pointer;
    transition: 0.4s;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #030D18;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: center;
    background-position: center;
}

#redes-sociais {
    display: flex;
    letter-spacing: 12px;
}

#icon-instagram {
    width: auto;
    height: auto;
    color: #fff;
    font-size: 35px;
    transition: 0.3s;
}

#icon-instagram:hover {
    scale: 1.2;
    color: #5eb4f5;
}

#contato {
    width: 90%;
    height: 100%;
    border-top: solid white 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    border-radius: 0;
    background: none;
}

.contate {
    width: 100%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.container-contato {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-around;
    justify-self: flex-start;
    flex-wrap: wrap;
}

.icons {
    height: 20%;
    text-align: center;
    font-size: 1.4vw;
}

.icons a {
    color: #056bc4;
}

#email,
#instagram {
    background: #fff;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--medium-text);
    color: #030D18;
    cursor: pointer;
    transition: 0.3s;
}

#email:hover,
#instagram:hover {
    scale: 1.1;
}

.section-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    contain: content;
    flex-wrap: wrap;
}

.banner-wrapper {
    width: 30%;
    height: 100%;
} 

.sinopse-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.4vw;
    color: #fff;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url(imagens/onça_pintada.jpg);
    background-size: cover;
}

.sinopse {
    width: 100%;
    height: 70%;
    background: #056bc4;
    padding: var(--preenchimento);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.botao-download {
    width: 90%;
    height: 10vh;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    background: #118ae6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--small-text);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.download-texto {
    width: auto;
    height: auto;
}

.video-jogo {
    width: 70%;
    height: 90%;
    background: #fff;
    background-size: cover;
    display: flex;
}

.imagem-jogo {
    width: 70%;
    height: 90%;
    background: #ccc;
    background-size: cover;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.fotos-preview {
    width: 80%;
    height: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
    gap: 12px;
    contain: content;
}

.imagem {
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    transition: .3s;
}

.imagem-active {
    background-size: cover;
    filter: none;
    cursor: pointer;
    scale: 1.05;
    transition: .3s;
}

.imagem:hover {
    scale: 1.05;
    filter: none;
}

.footer {
    height: 40vh;
    padding: 30px;
    color: #fff;
    font-size: var(--small-text);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.softwares {
    width: 90%;
    height: 100%;
    border-top: solid white 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.logos {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}

.logo-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80%;
    height: 80%;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Container End */

/* Sec Start */
.sec {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 60px;
    background: var(--dark-blue);
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    contain: content;
    transition: .3s;
}

#secDarkBlue {
    background: var(--blue1);
}

#secLightBlue {
    background: var(--blue2);
}
/* Sec End */

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    flex: 1;
    position: absolute;
}

@media screen and (width <=767px) {
    * {
        box-sizing: border-box;
        cursor: default;
    }

    body {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header {
        position: fixed;
        transform: translateY(94vh);
        width: 100%;
        border-radius: 0;
        -webkit-backface-visibility: hidden;
    }

    header ul {
        width: 100vw;
        height: 6vh;
        background: #0e3e6c;
        border-radius: 0;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        gap: 12vw;
    }

    header ul li a {
        font-size: 3.5vw;
    }

    .sec {
        padding: 30px;
    }

    .section-wrapper {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .banner-wrapper {
        width: 100%;
        height: 30%;
    }

    .sinopse-wrapper {
        width: 100%;
        height: auto;
    }

    .sinopse-wrapper p {
        font-size: 3.9vw;
    }

    .versao-samauma {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
        width: 100%;
    }

    .botao-download {
        height: 7vh;
        font-size: 4.5vw;
    }

    .video-jogo {
        width: 100%;
        height: 30%;
    }

    .imagem-jogo {
        width: 100%;
        height: 40%;
    }

    .footer {
        height: 30vh;
        font-size: 3.5vw;
    }

    .softwares {
        width: 100%;
    }

    .logos {
        width: 100%;
    }

    .logo-wrapper {
        width: 35%;
    }

    #logo-aseprite {
        background-size: 80%;
    }

    #logo-unity {
        background-size: 100%;
    }

    #logo-pixelstudio {
        background-size: 70%;
    }



}