@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root {
    --dark-blue: #030D18;
    --dark-green: #0d6f5c;
    --light-text: #d4f7e8;

    --small-text: 1.6vw;
    --medium-text: 2vw;
    --large-text: 6.7vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--dark-blue);
}

/* Header Start */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo  {
    color: var(--light-text);;
    font-weight: 700;
    text-decoration: none;
    font-size: var(--medium-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
}
header ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li  {
    list-style: none;
    margin-left: 20px;
}
header ul li a  {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--light-text);;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active  {
background: var(--light-text);;
color: var(--dark-blue);;
}
.menu {
    float: right;
    line-height: 50px;
    font-size: var(--medium-text);
    cursor: pointer;
    display: none;
}
/* Header End */

/* Section Start */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    
}
section::before  {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, var(--dark-blue), transparent);
    z-index: 1000;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    
}
section img#frente_direita {
    z-index: 10;
}
section img#frente_esquerda {
    z-index: 10;
    margin-left: -3px;
}
#texto {
    position: absolute;
    color: var(--light-text);;
    white-space: nowrap;
    font-size: var(--large-text);
    z-index: 8;
    cursor:default;
}
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--light-text);
    color: var(--dark-blue);
    font-size: var(--medium-text);
    z-index: 8;
    transform: translateY(100px);
}
/* Section End */

/* Container Start */
.container {
    border-radius: 6px;
    width: 400px;
    height: 400px;
    min-width: 300px; 
    display: flex;
    justify-content: center;
    text-align: justify;
}

#titulo {
    width: 100%;
    height: auto
}

#descricao {
    width: 40%;
    height: 50vh;
    padding: 0;
    transform: translateY(50px);
}

#gif-container {
    background-image: url(spring-summer-night-forest-horizontal-260nw-1561631752.webp);
    background-size: cover;
    width: 57%;
    height: 50vh;
}

#video {
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/b8/2f/28/b82f28a7e9c8fcb3868d3d94652c107c.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-background {
    background: url(spring-summer-night-forest-horizontal-260nw-1561631752.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mission {
    width: 100%;
    height: 600px;
    
}

#equipe {
    width: 100%;
    background-image: url(spring-summer-night-forest-horizontal-260nw-1561631752.webp);
    background-size: cover;
}

#integrantes {
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(135deg, #118ae6, #094983);
}

.perfil {
    width: 30vw;
    height: 20vw;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.buttons {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 30vw;
    height: 25vw;
    min-width: 330px;
    border-radius: 16px;
    padding: 16px;
    font-size: var(--medium-text);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nome-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.nome {
    background: #0ada61;
    width: 50%;
    height: 40px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: var(--medium-text);
    font-weight: 600;
}

.funcoes {
    width: 100%;
    height: 80%;
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-text);
}

#func {
    margin-top: 10px;
}

#prev, 
#next {
    cursor: pointer;
    font-weight: 600;
    font-size: var(--medium-text);
    color: #fff;
    transition: 0.3s;
}

#prev:hover, 
#next:hover {
    font-size: calc(var(--medium-text) + 15%);
}

#animal { 
    font-size: var(--small-text);
    margin-left: 6px;
}

/* Container End */

/* Sec Start */
.sec {
    position: relative;
    padding: 100px 200px 0 200px;
    background: var(--dark-blue);;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#sec-about {
    justify-content: center;
}

.sec h2 {
    font-size: var(--large-text);
    margin-bottom: 10px;
    color: var(--light-text);;
    text-align: center;
    flex: 1;
}

.sec p  {
    font-size: var(--small-text);
    color: #fff;
}

/* Sec End */

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #ccc;
    flex: 1;
    position: absolute;
}

@media screen and (max-width: 600px)
{
    *{
        box-sizing: border-box;
    }

    header {
        padding: 0 20px;
        background: var(--dark-blue);;
    }

    .menu {
        display: block;
    }

    header ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: var(--dark-blue);;
        top: 50px;
        left: 0;
        transition: 0.5s;
        display: block;
        text-align: center;
        
    }

    header ul li a{
        text-decoration: none;
        padding: 3px 5px;
        color: #fff;
        border-radius: 20px;
    }
    header ul li a:hover,
    header ul li a.active 
    {
        background: transparent;
        color: #fff;
    }
    header .logo {
        font-size: 20px;
    }



}


